.J-HdHead{
  position: fixed;
  top:35px;
  left: 0;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #eee;
  background:#fff;
  box-shadow: rgba(0,0,0,.1) 0 1px 5px;
  -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 5px;
  display: none;
}
.J-HdHead .append{
  display: block;
  position: relative;
  width: 1170px;
  margin: 0 auto;
}
.J-HdHead .append .attr-logo{
  display: inline;
  width: 80px;
  height: 35px;
  z-index: 1;
  float: left;
  background-image: url("../img/logo.jpg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
#attr-switchable{
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;  
}
#attr-searchtab-h{
  display: block;
  padding: 5px 0;  
  text-align: center;
  height: 100%;
}
#attr-searchtab-h a:hover{
  color: #6c6c6c;
}
#attr-searchtab{
  width: 20px;
  text-align: center;
  min-width: 70px;
  height:29px;
  padding: 5px 0 0 0; 
  margin-top:0;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
}
#attr-searchtab a:hover{
  color: #6c6c6c;
}
.attr-search{
  display: inline;
  width: 100%;
}
.attr-collapse{
  margin: 0 220px 0 240px;
}
.attr-search .attr-search-hd{
  float: left;
  padding: 2px;
  background-color: #ff4500;
  z-index: 1;
  position: relative;
}
.attr-search .attr-search-hd .attr-J-searchtab{
  float: left;
  display: block; 
  margin: 1px 0 0 1px;
  padding: 0;  
  width: 70px;
  height: 29px;
  text-align: center; 
  border-right: 1px solid #DFDFDF;    
}

.attr-btn img{
  height: 29px;
  display: block;
  float: left;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.attr-search .attr-search-hd .attr-J-searchtab .attr-from-ground{
  height: 29px;
}
.attr-from-control{
  height: 29px;
  padding-right: 30px;
}
.attr-microphone{
  height: 29px;
}
.attr-glyphicon-search{
  height: 29px;
  padding-top: 8px;
}