.side{
  float: left;
}
.side .cat{
  position: relative;
  width: 150px;
  z-index: 5;
  border: 1px solid #eee;
}
.cat .cat-hd{
  text-align: center;
  position: relative;
}
.cat .cat-hd{
  margin: 0 auto;
  background-image: url("../img/cat-hd.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width:150px;
  height: 40px;
}
.cat .cat-menu{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 149px;
  z-index: 3;
  box-shadow:1px 1px 2px #dfdfdf; 
}
.cat .cat-menu .cat-menu-bd{
  position: relative;
  list-style-type: none;
  margin: 0;
  padding:0;
}
.cat .cat-menu .cat-menu-bd li{
  position: relative;
  margin: 0;
  padding:0;
  +margin-top: -2px;
  display: block;
  vertical-align: middle;
  height: 34px;
  border-right: none;
  border-left:1px solid #bfbfbf;
}
.cat .cat-menu .cat-menu-bd li:hover .category-info{
  width: 150px;
  z-index: 10;
  border-top:1px solid;
  border-left:1px solid; 
  border-bottom: 1px solid;
  border-color:#f40;
  border-right:2px solid #fff;
}
.cat .cat-menu .cat-menu-bd li:hover .menu-item{
  border:1px solid #f40;
  z-index: 3;
  display: block;
  top: 0;
}
.cat .cat-menu .cat-menu-bd li .category-info{
  height: 100%;
  margin: 0;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #dfdfdf;
}
.cat .cat-menu .cat-menu-bd li .category-info h3{
  position: absolute;
  margin:0;
  left: 45px;
  width: 72px;
  height: 30px;
  padding:8px 0;
  font-size: 15px;
  font-weight: 400;
  display:inline-block; 
  font-family: tahoma,arial,Microsoft Yahei,\5b8b\4f53;
  color: #3c3c3c;
}
.cat .cat-menu .cat-menu-bd li .category-info .cat-img{
  position: absolute;
  display: inline;
  float: left;
  width: 40px;
  height:24px ;
}
.cat .cat-menu .cat-menu-bd li .category-info .cat-img img{
  margin-top: 3px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  text-align: center;
}
.cat .cat-menu-bd .category-info em {
  position:absolute;
  height: 31px;
  color: #bfbfbf;
  font: 12px/18px "宋体";   
  font-weight:bold;
  top:9px; 
  right:3px; 
  width: 13px; 
  height: 13px;
}
.cat .cat-menu .cat-menu-bd .menu-item { 
  position: absolute; 
  z-index: 3;  
  left:149px;
  width:731px;
  padding:0;
  background: #fff; 
  border:1px solid; 
  zoom:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=4)";
  *filter:progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=4);
}
.cat .menu-item{ 
  display:none; 
}
.cat .menu-item .area-in{
  position: relative; 
  padding:15px;
}
.cat .menu-item .area-bg{ 
  overflow: hidden;
  padding:5px 10px 15px;
  display: block;
  border-bottom: 1px solid #eee;
}
.menu-item .area-in .area-bg ul{
  list-style-type: none;
  margin: 0;
  padding:0; 
}
.cat .menu-item .area-bg ul li{
  float: left;
  border: none;
  padding-left: 10px;
  margin-right: 10px;  
}
.cat .menu-item .area-bg ul li a strong{
  display: inline;
  margin-right: 8px;
  font-weight: 400;
  font-size: 14px;
  float: left;
}
.cat .menu-item .area-bg ul li a em{
  display: inline;
  position: relative;
  margin: 2px 0;
  width: 15px;
  height: 15px;
  border:1px solid #e4e4e4;
  color: #eee;
  top:2px;
  left:3px;
  padding:0 3px;
  font: 8px/18px "宋体";
  font-weight: bold;
  float: left;
  overflow: hidden;
}
.cat .menu-item .area-bd{
  width: 100%;
  margin:0;
  padding: 0;
  display: block;
}
.cat .menu-item .area-bd ul{
  list-style-type: none;
  padding: 0 15px;
  margin-right: -1px;
  width: 350px;
  float: left;
  display: block;
  overflow: hidden;
}
.cat .menu-item .area-bd .area-1{
  border-right:1px solid #eee;  
}
.cat .menu-item .area-bd ul li{
  border-left:none; 
  display: inline;
  padding:10px 0 ;
  margin-bottom:5px; 
  line-height: 24px;
  overflow: hidden;
}
.cat .menu-item .area-bd ul li h4 a{
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  border: none;
}
.cat .menu-item .area-bd ul li .part{
  display: block;
  overflow: hidden;
}
.cat .menu-item .area-bd ul li a{
  margin-right: 2px;
  white-space: nowrap;
  margin-left: -2px;
  border-left: 1px solid #ddd;
  padding:0 7px;
}

