.side{
  float: left;
}
.cat{
  position: relative;
  width: 150px;
  z-index: 5;
  border: 1px solid #eee;
}
.cat-hd{
  text-align: center;
  position: relative;
}
.cat .cat-hd{
  margin: 0 auto;
  background-image: url("../img/cat-hd.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width:150px;
  height: 40px;
}
.cat-menu{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 149px;
  z-index: 3;
  box-shadow:1px 1px 2px #dfdfdf; 
}
.cat-menu-bd{
  position: relative;
  list-style-type: none;
  margin: 0;
  padding:0;
}
.cat-menu-bd li{
  position: relative;
  margin: 0;
  padding:0;
  +margin-top: -2px;
  display: block;
  vertical-align: middle;
  height: 34px;
  border-right: none;
  border-left:1px solid #bfbfbf;

}
.cat-menu-bd li:hover .category-info{
  width: 150px;
  z-index: 10;
  border-top:1px solid;
  border-left:1px solid; 
  border-bottom: 1px solid;
  border-color:#f40;
  border-right:2px solid #fff;
}
.cat-menu-bd li:hover .menu-item{
 border:1px solid #f40;
 z-index: 3;
 display: block;
}
.category-info{
  height: 100%;
  margin: 0;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #dfdfdf;
}
.cat-menu-bd li h3{
  margin:0;
  width: 72px;
  height: 30px;
  padding:8px 0;
  font-size: 15px;
  font-weight: 400;
  display:inline-block; 
  font-family: tahoma,arial,Microsoft Yahei,\5b8b\4f53;
  color: #3c3c3c;
}
.cat-img{
  display: inline;
  float: left;
  width: 40px;
  height:24px ;
}
.cat-img img{
  margin-top: 3px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  text-align: center;
  margin-right:10px;  
}
.cat .cat-menu-bd .category-info em {
  position:absolute;
  height: 31px;
  color: #bfbfbf;
  font: 12px/18px "宋体";   
  font-weight:bold;
  top:9px; 
  right:3px; 
  width: 13px; 
  height: 13px;
}
.cat .menu-item { 
  position: absolute; 
  z-index: 3;  
  left:149px;
  width:730px;
  top: 0;
  padding:0 0 0 2px;
  background: #fff; 
  border:1px solid; 
  zoom:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=4)";
  *filter:progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=4);
}

.cat .menu-item .area-in{
  position: relative; 
  z-index: 1;  
  height: 150px;
}
.cat .menu-item .area-bg{ 
  padding: 10px 0 10px 40px; 
}
.cat .menu-in{ 
  display:none; 
}
.cat .menu-srot{
  width: 100%; 
  overflow: hidden;
}