.container{
  margin: 0 auto;
  padding: 0;
}

.taobao {
	font-size: 15px;


}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #FFF;
}

.dropdown-toggle{
 padding: 0;
 border-width: 0 1px;
 border-style:  solid;
 border-color: #EEE;
 background: #F5F5F5;

}
.dropdown-menu{
 text-align: right;
 border-top:0;
 text-align:left;
 min-width:114px;
 height: 100px;
 float: left;
 position: absolute;


}
.sitemap .dropdown-menu {
  width: 1180px;
  
  text-align:left;


}

.massage .dropdown-menu{
  width: 266px;
  text-align: right;
  height: 200px;
}

.massage .dropdown-menu .people-img{
  width: 80px;
  height: 80px;
}

.massage .dropdown-menu .usermader img{
  width: 36px;
  height: 36px;
  float: left;
}


.usermader ul li {
  list-style:none; 
}
.sitemap .dropdown-menu > li.theme-market{
  border-right: 1px solid #eee;
  width: 280px;
  color:#FF4500;
}

.sitemap .dropdown-menu > li.feature-shopping{
  border-right: 1px solid #eee;
  width: 280px;
  color:#3CB371;
}

.sitemap .dropdown-menu > li.current-hot{
  border-right: 1px solid #eee;
  width: 280px;
  color:#FF00FF;
}




.sitemap .dropdown-menu > li.more-surprise {
  border-right: 1px solid #eee;
  width: 280px;
  border-right: 0;
  color:#0000FF;

}

.sitemap .dropdown-menu > li.theme-market a:hover{
  background:#FF4500;
  color:#FFFFFF;
  border-radius:5px; 
  padding:5px 8px;
  width: 100px;
}

.sitemap .dropdown-menu > li.feature-shopping a:hover{
  background: #3CB371;
  color:#FFFFFF;
  border-radius:5px; 
  padding:5px 8px;
  width: 100px;
}

.sitemap .dropdown-menu > li.current-hot a:hover{
  background: #FF00FF;
  color:#FFFFFF;
  border-radius:5px; 
  padding:5px 8px;
  width: 100px;
}

.sitemap .dropdown-menu > li.more-surprise a:hover{
  background: #0000FF;
  color:#FFFFFF;
  border-radius:5px;
  padding:5px 10px;
  width: 100px;

}

.dropdown-menu .item{
  font-size:20px;
  font-weight: bold;
 

}


.dropdown-menu .list {
  float: left;
  min-width:20px;
  padding: 0 10px;

}

.list ul{

  display: inline; 
  font-size:14px;
  -webkit-text-size-adjust:none;
  list-style-type: none;
  margin: 0 2px;


}
.list ul li{
  text-align: left; 
    float: left;
    padding:0 10px;
   
    color:white;

}
.clear{
 clear:both;
}


.clearfix{
  margin-top: 20px;
}
.logo{
  width: 150px;
  height: 100px;
  float: left;
  background-image: url("../img/logo.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.search{
  margin:0 50px; 
  float: left;
  display: inline;
  padding-top: 15px;
}
.search-tips{
  margin-top: 5px;
  float: left;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.search-tips a:hover{
  color:#ff4500;
}
.search-hots a:hover{
  color:#ff4500;
}
.search-hots{
  position: relative;
  margin:0;
  padding: 0;
}
.search-hots ul{
  float: left;
  position: relative;
}
.search-hots ul li{
  list-style-type: none;
  display: inline;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.h{
  color:#ff4500; 
}
.more:hover{
  color: #ffffff;
  border-color: #ff4500;
  background: #ff4500;
  z-index: -1;
}
.Qr-code{
  margin: 10px 0px;
  float: left;
  text-align: center;
}
.Qr-code button{
  float: left;
  width: 25px;
  height: 25px;
  background-image: url("../img/clear.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  border:1px solid #eee;
}
.Qr-code a{
  padding:10px;
  float: left;
  border:1px solid #eee;
}
.Qr-code span{
  display: block;
  padding-bottom: 2px;
  position: relative;
  font:12px/1.5 tahoma,arial,sans-serif;
}
.Or-code img{
  display: block;
  position: relative;
}
a{
  color: #666666;
}
a:hover{
  text-decoration: none;
}

