.container{
  margin: 0 auto;
  padding: 0;
}

.taobao {
	font-size: 15px;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #FFF;
}

.dropdown-toggle{
	  padding: 0;
	  border-width: 0 1px;
	  border-style:  solid;
	  border-color: #EEE;
	  background: white;
}
.dropdown-menu{
	  text-align: right;
	  border-top:0;
	  text-align:left;
	  min-width:114px;
	  height: 100px;

}

.navbar-right .dropdown-menu{

	left:0;
	
}



.clearfix{
  margin-top: 20px;
}
.logo{
  width: 150px;
  height: 100px;
  float: left;
  background-image: url("../img/logo.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.search{
  margin:0 50px; 
  float: left;
  display: inline;
  padding-top: 15px;
}
.search-tips{
  margin-top: 5px;
  float: left;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.search-tips a:hover{
  color:#ff4500;
}
.search-hots a:hover{
  color:#ff4500;
}
.search-hots{
  position: relative;
  margin:0;
  padding: 0;
}
.search-hots ul{
  float: left;
  position: relative;
}
.search-hots ul li{
  list-style-type: none;
  display: inline;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.h{
  color:#ff4500; 
}
.more:hover{
  color: #ffffff;
  border-color: #ff4500;
  background: #ff4500;
  z-index: -1;
}
.Qr-code{
  margin: 10px 0px;
  float: left;
  text-align: center;
}
.Qr-code button{
  float: left;
  width: 25px;
  height: 25px;
  background-image: url("../img/clear.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  border:1px solid #eee;
}
.Qr-code a{
  padding:10px;
  float: left;
  border:1px solid #eee;
}
.Qr-code span{
  display: block;
  padding-bottom: 2px;
  position: relative;
  font:12px/1.5 tahoma,arial,sans-serif;
}
.Or-code img{
  display: block;
  position: relative;
}
a:link{
  color: #666666;
}
a:hover{
  text-decoration: none;
}

