.container{
  margin: 0 auto;
  padding: 0;
}


.clearfix{
  margin-top: 60px;
  display: block;
  position: relative;
  height: 116px;
}
.content{
  width: 100%;
  display: inline;
  margin-bottom: 25px;
  float:left;
}
a{
  color: #666666;
  font:12px/1.5 tahoma,arial,sans-serif;
}

a:hover{
  text-decoration: none;
  color:#f40;
}
.products-section{
  width: 100%;
  display: inline;
  clear: both;
}

