.main{
  float: left;
  margin-left: 10px;
}
.main .J_Nav{
  margin-bottom: 15px;
  width: 1010px;
  height: 41px;
  border-bottom: 2px solid #f40;
  overflow: hidden;
}
.main .main-1{
  float: left;
  display: inline;
  width: 520px;
}
.main-1 .carousel{
  position: relative;
  width: 520px;
  height: 280px;
  overflow: hidden;
}
.main-1 .carousel:hover a{
  display: block;
}
.carousel .carousel-inner{
  height: 100%;
}
.active{
  width: 520px;
  height: 280px;
}
.carousel-control.left{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 100%);
  left:5px;
  height: 40px;
  width: 40px;
  top: 120px;
  line-height: 40px;
  display: none;
}
.carousel-control.right{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 100%);
  height: 40px;
  width: 40px;
  right:5px;
  top: 120px;
  line-height: 40px;
  display: none;
}

.carousel .carousel-indicators{
  background: rgba(255,255,255,.3);
  width: 10%;
  height: 17px;
  margin-left:-5%;
  margin-bottom: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.glyphicon.glyphicon-chevron-left{
  position: relative;
  top:0%;
  left: 0%;
  overflow: hidden;
}
.glyphicon.glyphicon-chevron-right{
  position: relative;
  top:0%;
  right: 0%;
  overflow: hidden;
}

.main .main-c{
  display: inline;
  float: left;
  width: 200px;
  height: 530px;
}
.main .J-HdMainR{
  display: inline;
  float: left;
  width: 290px;
  background:#fff; 
}





