#notification{
  margin-bottom: 10px;
  width: 292px;
  height: 98px;
  border: 1px solid #eee;
  overflow: hidden;
}
#notification ul{
	list-style:none;
    margin: 0 auto;
    padding:0;
}

#notification-hd{
	position: relative;
	height: 27px;
    background:#f7f7f7; 
    border-bottom:1px solid #eee;      
}
#notification-hd li{
	float:left;
	margin: 0 auto;
	padding:0; 
	width: 58px;
	height: 27px; 
	text-align: center;
}
.nav_on{
	background:#ffffff;
    border: 0;
    font-weight:bold;
}
#notification-hd span:hover{
   color: #ff4500;
}
#notification-hd li a{
	float:left;
	display:block;
	padding:5px 0;
	margin: 0;
	width: 58px;
	height: 27px; 
	cursor:pointer;
	text-decoration:none;
}

#notification-hd li a span{
	float:left;
	padding:0 15px 0 15px;
	font-size:12px;
	color:#000000;
	text-decoration:none;
}

#menu_con{
	text-align:left;
	clear:both;
	height: 71px;
    padding:0;
    margin-top: 10px;
}
#menu_con li{
	float:left;
	margin-top:5px;
	padding:0 7px 0 10px;
}
#menu_con li span{
	float:left;	
	line-height:12px;
	color: #666666;
    font:12px/1.5 tahoma,arial,sans-serif;
}
#menu_con li a{
	display:block;
	float:left;
	cursor:pointer;
	padding-left:3px;
}
#menu_con li a:hover{
	color:#ff4500;
}

