.logo{
  width: 150px;
  height: 100px;
  float: left;
  background-image: url("../img/logo.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.navbar-collapse{
  padding: 0;
}
.search{
  margin:0 90px; 
  float: left;
  display: inline;
  padding-top: 15px;
}
.search-hd{
  float: left;
  padding: 2px;
  background-color: #ff4500;
}
.J-searchtab{
  float: left;
  display: block; 
  margin: 1px 0 0 1px;
  padding: 0;  
  width: 70px;
  height: 40px;
  text-align: center; 
  border-right: 1px solid #DFDFDF;  
}
#switchable{
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;   
}
#searchtab-h{
  display: block;
  padding: 7px 0;  
  text-align: center;
  height: 100%;
}
#searchtab-h a:hover{
  color: #6c6c6c;
}
#searchtab{
  width: 20px;
  text-align: center;
  min-width: 70px;
  height:40px;
  padding: 9px 0 0 0; 
  margin-top:0;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
}
#searchtab a:hover{
  color: #6c6c6c;
}
.form-ground{
  float: left;
}
#input-wrap{
  position: relative;
}
.navbar-form .form-control {
  display: block;
}
.glyphicon-search{
  font-size: 10px;
  padding-top: 15px;
  padding-left: 10px;
  color: #DFDFDF;
  position: absolute;
  display: inline;   
}
.microphone{
  position: absolute;
  top: 0;
  right: 10px;
}
.navbar-form{
  padding: 0;
  margin: 0;
}
.dropdown-toggle{
  background-color:#f5f5f5 ;
}
.form-control{
  height:40px ;
  border:0;
  border-radius: 0;
  padding:0 6px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
}
.form-control:focus{
  border-color: #f5f5f5;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
}
.btn{
  padding: 0;
  margin: 0;
}
.btn .btn-default{
  float: left; 
}
.btn-default{
  border-color: #ff4500;
}
.btn-default:hover{
  border-color: #ff4500;  
}
.search-tips{
  padding:3px;
  height: 46px;
  float: left;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.search-tips a:hover{
  color:#ff4500;
}
.search-hots a:hover{
  color:#ff4500;
}
.search-hots{
  position: relative;
  margin-top:5px;
  display: block;
}
.search-hots ul{
  margin: 0;
  float: left;
  padding-left: 0;
}
.search-hots ul li{
  list-style-type: none;
  display: inline;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.h{
  color:#ff4500; 
}
.more{ 
  background-color: #ffffff;
  border: 1px solid #eee;
  text-align: center;
  margin-right: 0;
  padding-left: 2px;
  top:-1px;
  right:30px;
  position: absolute;
}
.more-tip{
  color:#DFDFDF;
  font-size:8px; 
}
.more:hover a{
  color: #ffffff;
}
.more:hover{ 
  background-color: #ff4500;
}

.Qr-code{
  float: right;
  text-align: center;
  position: relative;
  display: inline;
}
.Qr-code button{
  float: left;
  width: 25px;
  height: 25px;
  background-image: url("../img/clear.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  border:1px solid #eee;
}
.Qr-code a{
  padding:10px;
  float: left;
  border:1px solid #eee;
}
.Qr-code span{
  display: block;
  padding-bottom: 2px;
  position: relative;
  font:12px/1.5 tahoma,arial,sans-serif;
}
.Or-code img{
  display: block;
  position: relative;
}