.products-section .mainbd{
	margin-left: 120px;
}

.products-section .mainside{
	margin-right: 50px;
}

 .modmenu-bd-r .modl-cont .mod-txt{
 clear: both;
}

.products-section .tzh-wrap{

	width: 360px;
	height: 500px;

}

